
<ons-page ng-controller="quoteController">
    <!-- top menu -->
    <div ng-include="'app/views/bannerMenu.html'"></div>
    <!-- Banner -->
    <div>
        <img src="app/images/banner.jpg" class="bannerStyle" />
        <div class="card-desc">COVER YOUR ANKLES</div>
    </div>

    <!-- List Quotes -->
    <ons-list class="plan-list">

        <ons-list-item class="plan" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10]">
            <ons-gesture-detector ng-doubletap="showActionsToSelectedQuote($event)">
                <ons-row>
                    <ons-col class="plan-left">
                        <div class="plan-date"> RBEI/BSW </div>
                        <div class="plan-duration">US\dzieger</div>
                    </ons-col>
                    <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:a % 2 == 1 ? '#3399ff' : '#ccc'}">
                    </ons-col>
                    <ons-col class="plan-right">
                        <div class="plan-name"> Christian Langenstein</div>
                        <div class="plan-info">
                            <div ng-hide="">
                                <ons-icon icon="ion-ios-telephone"></ons-icon>+1(610)694-2415
                            </div>
                            <div ng-hide="">
                                Tri.NguyenMinh2@vn.bosch.com
                            </div>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-gesture-detector>
        </ons-list-item>
    </ons-list>



    <ons-template id="quoteNavigationOptions.html">
        <ons-popover cancelable direction="down">
            <ons-list>
                <ons-list-item ng-repeat="option in options" modifier="tappable">
                    {{ option }}
                </ons-list-item>
            </ons-list>
        </ons-popover>
    </ons-template>


</ons-page>
