

<ons-page style="background: none">

    <!-- top menu -->
    <div ng-include="'app/views/bannerMenu.html'"></div>

    <!-- Banner -->
    <div>
        <img src="app/images/banner.jpg" class="bannerStyle" />
        <div class="card-desc">COVER YOUR ANKLES</div>
    </div>

    <!-- List carousel scroll -->
    <ons-list>
        <ons-list-item class="list-item-carousel-style">

            <ons-row>
                <ons-scroller style="height: 65px;">
                    <ons-carousel swipeable overscrollable auto-scroll fullscreen item-width="120px" direction="horizontal" var="carousel" initial-index="0">

                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Coats & outerwear</ons-carousel-item-cover>
                        </ons-carousel-item>

                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Dresses</ons-carousel-item-cover>
                        </ons-carousel-item>


                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Bottoms</ons-carousel-item-cover>
                        </ons-carousel-item>

                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Coats & outerwear</ons-carousel-item-cover>
                        </ons-carousel-item>
                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Coats & outerwear</ons-carousel-item-cover>
                        </ons-carousel-item>

                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Dresses</ons-carousel-item-cover>
                        </ons-carousel-item>


                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Bottoms</ons-carousel-item-cover>
                        </ons-carousel-item>

                        <ons-carousel-item>
                            <img src="app/images/falljacket.jpg" class="image-item-carousel" />
                            <ons-carousel-item-cover class="cover-label-carousel">Coats & outerwear</ons-carousel-item-cover>
                        </ons-carousel-item>


                    </ons-carousel>
                </ons-scroller>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <!-- List category and sale on -->
    <ons-list style="margin-top: 12px;">
        <ons-list-item class="noPadding">
            <img src="app/images/falljacket.jpg" class="lookbookImageStyle" />
            <ons-carousel-item-cover class="cover-label">FALL JACKETS</ons-carousel-item-cover>
        </ons-list-item>

        <ons-list-item class="noPadding">
            <img src="app/images/nextSeason.jpg" class="lookbookImageStyle" />
            <ons-carousel-item-cover class="cover-label">NEXT SEASON'S ESSENTIALS</ons-carousel-item-cover>
        </ons-list-item>

        <ons-list-item class="noPadding">
            <img src="app/images/burton.jpg" class="lookbookImageStyle" />
            <ons-carousel-item-cover class="cover-label">
                BURTON X JT EXCLUSIVE COLLABORATION
            </ons-carousel-item-cover>
        </ons-list-item>

        <ons-list-item class="noPadding">
            <img src="app/images/getthebest.jpg" class="lookbookImageStyle" />
            <ons-carousel-item-cover class="cover-label">GET THE BEST OF THE BEST</ons-carousel-item-cover>
        </ons-list-item>

        <ons-list-item class="noPadding">
            <img src="app/images/upto50.jpg" class="lookbookImageBiggerStyle" />
            <div class="card-desc">OUR BEST BRANDS ARE FINALLY ON SALE</div>
        </ons-list-item>

        <ons-list-item class="noPadding">
            <img src="app/images/onsale.jpg" class="lookbookImageBiggerStyle" />
            <div class="card-desc">EXTRA 25% OFF</div>
        </ons-list-item>

    </ons-list>

</ons-page>
