
<ons-toolbar>
    <div class="left navigation-bar__title">JackThread</div>
    <div class="center">
        <ons-toolbar-button class="menu-icon-star">
            <ons-icon icon="ion-star" style="color: yellow"></ons-icon>
        </ons-toolbar-button>
    </div>
    <div class="right">
        <ons-toolbar-button class="menu-icon-style">
            <ons-icon icon="ion-person"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button class="menu-icon-style">
            <ons-icon icon="ion-help-circled"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button class="menu-icon-style">
            <ons-icon icon="ion-search"></ons-icon>
        </ons-toolbar-button>
    </div>
</ons-toolbar>
